body{
    background-color: white;
    font-family: 'poppins';
}

.btn-contact{
    background-color:#273793;
    color: white;
    border-radius: 1cm;
    width: 3cm;
    height: 1cm;
    border-color:#273793 ;
    font-weight: 150;
}
.title{
    text-align: center;
    text-shadow: 2px 3px 3px rgb(180, 179, 179);
    margin-top: 100px;
    padding: 5rem;
}
.video-esg{
    width: 650px;
    height: 390px;
    border-radius: 10px; 
    overflow: hidden;
    box-shadow: 1px 1px 5px 5px lightgrey;
}
.title-about-us{
    text-shadow: black;
    color: #273793;
    font-size: 22px;
    text-align: center;
}
.title-activity{
    text-shadow: black;
    color: #273793;
    font-size: 22px;
    text-align: center;
}
.title-socmed{
    text-shadow: black;
    color: #273793;
    font-size: 22px;
    text-align: center;
}
.content-about-us{
    color: black;
    font-size: 18px;
    text-align: center;
}
.carousel-item {
    height: 150px;
    padding-left: 35px;
}
.carousel-indicators{
    margin-bottom: -65px;
    margin-left: 600px;
    margin-right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.carousel-indicators .active{
    background-color: #273793;
}
.btn-id{
    width : 10px;
    height: 10px;
    border-radius: 100%;
}
.btn-socmed{
    width : 60px;
    height: 60px;
    border-radius: 100%;
    border-color: transparent;
    background-color: #d1c9ff;
    font-size: 30px;
}
.stroke-transparent {
    -webkit-text-stroke:none;
    -webkit-text-fill-color:#273793;
}

.contact-sec{
    background-image: url(bgcontactus.png);
    padding: 25px;
    background-size: 1280px 900px;
}

.feedsec{
    background-image: url(bgcontactus.png);
    padding: 150px;
    background-size: 1280px 900px;
}

/* MODAL LOGIN */
h4 {
    text-align: center;
    font-weight: bold;
    color: #273793;
  }
  .close {
    color: #273793;
    transform: scale(1.2);
    position: absolute;
    margin-left: -50px;
    width: 120px;
    transform: translateY(-50%);
  }
  .modal-content {
    font-weight: bold;
    background: white;
  }
  .form-control {
    margin: 1em 0;
  }
  .form-control:hover, .form-control:focus {
    box-shadow: none;  
    border-color: lightgrey;
  }
  .username, .password {
    border-radius: 10px;
    box-shadow: none;
    border-bottom: 2px solid lightgrey;
    padding-left: 0;
    font-weight: normal;
    background: transparent;  
  }
  .form-control::-webkit-input-placeholder {
    color: lightgrey;  
  }
  .form-control:focus::-webkit-input-placeholder {
    font-weight: bold;
    color: #fff;
  }
  .login {
    padding: 6px 20px;
    border-radius: 20px;
    background: none;
    border: 2px solid #273793;
    color: #273793;
    font-weight: bold;
    transition: all .5s;
    margin-top: 1em;
  }
  .login:hover {
    background: #273793;
    color: lightgrey;
  }

.styled-table {
    display: block;
    margin-left: -250px;
    margin-right: 50px;
    margin-top: -100px;
    width: 700px;
    height: 400px;
    border-radius: 15px;
    font-size: 0.9em;
    box-shadow: 0 0 20px lightgrey;
}
.styled-table thead tr {
    background-color: #d1c9ff;
    color: #7d7ce3;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 17px 17.2px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #ffff;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #d1c9ff;
}

